body {
  margin: 150px 50px !important;
  display: block !important;
}
.git-page {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cheatsheet-container {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 100px) / 3));
  gap: 50px;
  box-sizing: border-box;
}

.command-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: calc((100% - 300px) / 3);
  background-color: rgb(15, 28, 34);
  padding: 20px;
  border-radius: 0.5rem;
}

.command-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #15252c;
  padding: 15px 12px;

  > pre {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
  }
}

.copy-button {
  background: #0f1c22;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: rgb(15, 28, 34) 0px 19px 16px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .body {
    margin: 150px 25px !important;
  }
  .cheatsheet-container {
    grid-template-columns: repeat(2, calc((100% - 50px) / 2));
  }
}

@media (max-width: 992px) {
  .body {
    margin: 150px 12px !important;
  }
  .cheatsheet-container {
    grid-template-columns: repeat(1, calc((100% - 24px)));
  }
}

@media (max-width: 480px) {
  .command-container {
    > pre {
      font-size: 14px; /* Smaller text for mobile */
      padding: 0.5em 1.5em;
    }
  }
}
