body{
    margin: 150px !important;
}
.git-page {
  max-width: 800px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.command-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  > pre {
    padding: 1em 2.5em 1em 1em !important;
  }
}

.copy-button {
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    > svg {
      color: #d4dbe2;
    }
  }

  > svg {
    background: none;
    border: none;
    cursor: pointer;
    color: #a1aebc;
  }
}

@media (max-width: 1080px) {
  body {
    margin: 50px !important;
  }
  .git-page {
    max-width: 500px;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .git-page {
    max-width: 400px;
  }
  .copy-button > svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .command-container {
    > pre {
      font-size: 14px; /* Smaller text for mobile */
      padding: 0.5em 1.5em;
    }
  }
}
