.js-wrapper {
  @media (min-width: 1301px) {
    margin: 150px 50px;
  }
  @media (min-width: 993px) and (max-width: 1300px) {
    margin: 150px 25px;
  }
  @media (max-width: 992px) {
    margin: 150px 20px;
  }
}

.js-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 48px;

  @media (max-width: 992px) {
    padding: 0;
  }
}

.js-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.first-topic {
  display: flex;
  flex-direction: column;
  background: #15252c;
  padding: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-auto-rows: auto;
  // grid-auto-flow: dense;
  gap: 2rem;
  // box-sizing: border-box;

  @media (max-width: 992px) {
    grid-template-columns: 100%;
  }
}

.grid-content {
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 28, 34);
  padding: 20px;
  border-radius: 0.5rem;
  align-self: start;
  margin-bottom: 1.5rem;
}

.topic {
  margin-bottom: 18px;
}

.command-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  background-color: #15252c;
  padding: 15px 12px;
  margin-bottom: 16px;

  > pre {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
  }
}

.copy-button {
  background: #0f1c22;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: rgb(15, 28, 34) 0px 19px 16px;
}
