.js-wrapper {
  @media (min-width: 1301px) {
    margin: 150px 50px;
  }
  @media (min-width: 993px) and (max-width: 1300px) {
    margin: 150px 25px;
  }
  @media (max-width: 992px) {
    margin: 150px 20px;
  }
}

.js-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 48px;

  @media (max-width: 992px) {
    padding: 0;
  }
}

.js-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.js-content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 992px) {
    gap: 20px;
  }
}

.first-topic {
  display: flex;
  flex-direction: column;
  background: #15252c;
  padding: 50px;

  @media (max-width: 992px) {
    padding: 20px 20px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, calc(100vw - 55rem));
  // grid-auto-rows: auto;
  // grid-auto-flow: dense;
  gap: 2rem;
  // box-sizing: border-box;
  @media (min-width: 1301px) and (max-width: 1440px) {
    grid-template-columns: repeat(2, calc(100vw - 52rem));
  }

  @media (min-width: 1201px) and (max-width: 1300px) {
    grid-template-columns: repeat(2, calc(100vw - 45rem));
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
    grid-template-columns: repeat(2, calc(100vw - 43rem));
  }

  @media (min-width: 993px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, calc(100vw - 40rem));
  }

  @media (max-width: 992px) {
    grid-template-columns: calc(100vw - 40px);
  }
}

.grid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(15, 28, 34);
  padding: 20px;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;

  @media (min-width: 600px) and (max-width: 992px) {
    align-items: unset;
    padding-left: 45px !important;
  }

  & :global {
    ul,
    ol {
      padding-left: 1.5rem;
      margin-bottom: 1.5rem;
      font-size: 1rem;
      line-height: 1.8;

      li {
        position: relative;
        padding-left: 1.5rem;
        margin-bottom: 1rem;
        border-left: 2px solid #324253;
        padding-left: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        list-style: none; // Remove default bullets/numbers

        &:not(:last-child) {
          margin-bottom: 1.25rem;
        }

        &:before {
          content: "";
          position: absolute;
          left: -0.5rem;
          top: 0.7rem;
        }

        // Unordered list bullet styles
        ul & {
          &:before {
            content: "";
            width: 10px;
            height: 10px;
            background: radial-gradient(circle, #3498db 30%, #ecf0f1 30%);
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }
        }

        // Ordered list number styles
        ol & {
          counter-increment: list-counter;
          padding-left: 2rem;

          &:before {
            content: counter(list-counter) "";
            font-size: 1.3rem;
            font-weight: bold;
            background: linear-gradient(135deg, #3498db, #8e44ad);
            color: #fff;
            width: 1.6rem;
            height: 1.6rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            left: -2.5rem;
            top: 0.2rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

.grid-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.topic {
  padding: 20px;
}

.command-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  background-color: #15252c;
  padding: 15px 12px;
  margin-bottom: 16px;
  overflow: auto;
  max-width: calc(100% - 2rem);

  > pre {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
  }
}

.copy-button {
  background: #0f1c22;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: rgb(15, 28, 34) 0px 19px 16px;
}
