.topic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(
    170deg,
    rgba(44, 62, 80, 1) 0%,
    rgba(30, 30, 30, 1) 88%
  );
  border-radius: 10px;
  padding: 30px;
  gap: 21px;
  width: 12rem;

  @media (max-width: 480px) {
    width: 10rem;
    padding: 25px 15px;
  }

  :global {
    p {
      margin: 0;
    }
  }
}
